{
    "presets": [
      ["es2015", { "modules": false }]
    ]
//    "plugins": [
//        ["import", {
//          "libraryName": "vant",
//          "libraryDirectory": "es",
//          "style": true
//        }]
//    ]
  }